<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button icon-only class="btnClose" (click)="btnCloseModal()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="bg">
  <div class="login-container">
    <img class="logo" src="assets/imgs/logo-lanche.png" />
    <!-- Login -->
    <div *ngIf="tela == 'login'">
      <form>
        <ion-item>
          <ion-input type="email" placeholder="E-Mail" name="email" [(ngModel)]="usuarioLogin.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Senha" name="password" [(ngModel)]="usuarioLogin.password"></ion-input>
        </ion-item>

        <button ion-button block color="danger" (click)="authenticateUsuario()">ENTRAR</button>

        <p (click)="btnChangeTela('cadastro')"><strong>Cadastrar</strong></p>
        <!-- <p><strong>Esqueceu a senha?</strong></p> -->

      </form>
    </div>

    <!-- Cadastro -->
    <div *ngIf="tela == 'cadastro'">
      <form>
        <ion-item>
          <ion-input type="text" placeholder="Nome" name="nome" [(ngModel)]="usuarioCadastro.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" placeholder="E-Mail" name="email" [(ngModel)]="usuarioCadastro.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Celular" name="phone" [brmasker]="{phone: true}" [(ngModel)]="usuarioCadastro.phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Senha" name="senha" [(ngModel)]="usuarioCadastro.password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Confirma Senha" name="confirmasenha" [(ngModel)]="usuarioCadastro.c_password"></ion-input>
        </ion-item>
        <button ion-button block color="danger" (click)="cadastrarUsuario()">CADASTRAR</button>
        <p (click)="btnChangeTela('login')"><strong>Voltar ao Login!</strong></p>
      </form>
    </div>
  </div>
</ion-content>
