page-login {
  .btnClose {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  ion-content {
    background-image: url("../assets/imgs/bgLanche_2.jpg");
    background-size: cover;
    
    .scroll-content {
      margin-top: 0 !important;
    }


    .logo {
      width: 70%;
      height: 10% !important;
      margin-bottom: 5vh;
    }

    span {
      color: white;
    }

    ion-item {
      color: white !important;
      padding-left: 10px !important;
      margin-bottom: 10px;
      background-color: transparent !important;
      font-size: 0.9em;
    }

    ::-webkit-input-placeholder {
      color: white !important;
    }

    .login-container {
      color: white;
      position: absolute;
      top: 0;
      padding: 10vw;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      z-index: 2;
    }

    button {
      opacity: 0.8;
      top: 1vh;
    }
  }


}
