<ion-header>

  <ion-navbar color="header-danger">
    <ion-buttons start>
      <button ion-button icon-only (click)="btnCloseModal()">
        <ion-icon name="ios-arrow-down-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Sacola</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider color="header-danger">Entrega</ion-item-divider>
    <ion-item *ngIf="!carrinho.endereco && !carrinho.enderecoGps" (click)="changeEnderecoEntrega()">
      <ion-icon name="ios-pin-outline" item-start></ion-icon>
      <ion-label>
        <span class="endereco" text-wrap>Clique aqui para informar o local da entrega!</span>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="carrinho.endereco && !carrinho.enderecoGps" (click)="changeEnderecoEntrega()">
      <ion-icon name="ios-pin-outline" item-start></ion-icon>
      <ion-label>
        <span class="texto">{{ carrinho.endereco?.rua }}, {{ carrinho.endereco?.numero }}</span>
        <br />
        <span class="endereco" text-wrap>{{ carrinho.endereco?.bairro }}</span>
        <br />
        <span class="endereco">{{ carrinho.endereco?.cidade }}/{{ carrinho.endereco?.estado }}</span>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="carrinho.enderecoGps && !carrinho.endereco" (click)="changeEnderecoEntrega()">
      <ion-icon name="ios-locate-outline" item-start></ion-icon>
      <ion-label>
        <span class="endereco" text-wrap>{{ carrinho.enderecoGps }}</span>
      </ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="header-danger">Itens</ion-item-divider>
    <ion-item *ngFor="let pedido of carrinho?.pedidos">
      <span text-lowercase class="qtde"> {{ pedido.qtdeProduto }}x </span>
      <h2>{{ pedido.nomeProduto }}</h2>
      <span> {{ pedido?.precoTotal * pedido?.qtdeProduto | currency :'BRL' }} </span>
      <button ion-button icon-only item-end clear (click)="btnOpcoesClick(pedido)">
        <ion-icon name="md-more" item-end></ion-icon>
      </button>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="header-danger">Total</ion-item-divider>
    <ion-item >
      <h2 style="font-weight: bold;">Total</h2>
      <span style="font-weight: bold;"> {{ valorTotal | currency :'BRL' }} </span>
    </ion-item>
    <ion-item *ngIf="carrinho.valorPagar && carrinho.tipoPagamento == 'dinheiro'">
      <h2 style="font-weight: bold;">Dinheiro</h2>
      <span style="font-weight: bold;"> {{ carrinho?.valorPagar | currency :'BRL' }} </span>
    </ion-item>
    <ion-item *ngIf="carrinho.valorPagar && carrinho.tipoPagamento == 'dinheiro'">
      <h2 style="font-weight: bold;">Troco</h2>
      <span style="font-weight: bold;"> {{ carrinho.valorPagar - valorTotal | currency :'BRL' }} </span>
    </ion-item>
  </ion-item-group>

  <ion-item-group radio-group [(ngModel)]="formaPagamento">
    <ion-item-divider color="header-danger">Pagamento</ion-item-divider>

    <ion-item>
      <button ion-button icon-only item-start clear>
        <ion-icon name="card" item-end></ion-icon>
      </button>
      <ion-label>Cartão</ion-label>
      <ion-radio value="cartao" (ionSelect)="btnCartaoClick()"></ion-radio>
    </ion-item>

    <ion-item >
      <button ion-button icon-only item-start clear >
        <ion-icon name="ios-cash-outline" item-end></ion-icon>
      </button>
      <ion-label>Dinheiro</ion-label>
      <ion-radio value="dinheiro" (ionSelect)="btnTrocoConfirmacao()"></ion-radio>
    </ion-item>
    
  </ion-item-group>

  <div padding>
    <button ion-button full color="header-danger" 
      (click)="btnConfirmarClick()" [disabled]="carregando">
      Confirmar
    </button>
  </div>
</ion-content>