page-carrinho {
    ion-content {
        ion-item {
            ion-label {
                .texto {
                    color: #000;
                    font-weight: 400;
                }
    
                .endereco {
                    color: #000;
                }
            }
        }

        ion-item-group {
            ion-item,
                .produtos {
                  height: 65px;
            
                  h2 {
                    color: #ff0000;
                    font-weight: bold;
                  }
            
                  .qtde {
                    color: #807676;
                  }
                }
        }
    }
}