<ion-header>
  <ion-navbar color="header-danger">
      <ion-buttons start>
        <button ion-button icon-only (click)="btnCloseModal()">
          <ion-icon name="ios-arrow-down-outline"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Notificações</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Notificações</ion-label>
    <ion-toggle class="custom-toggle" [(ngModel)]="user?.user.notificacao"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>E-Mail</ion-label>
    <ion-toggle class="custom-toggle" [(ngModel)]="user?.user.notificacao_email"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>WhatsApp</ion-label>
    <ion-toggle class="custom-toggle" [(ngModel)]="user?.user.notificacao_whatsapp"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>SMS</ion-label>
    <ion-toggle class="custom-toggle" [(ngModel)]="user?.user.notificacao_sms"></ion-toggle>
  </ion-item>
  <ion-item>
    <button ion-button block color="header-danger" (click)="btnSaveNotificacaoClick()">
      <span *ngIf="!carregando">Salvar</span>
      <ion-spinner name="dots" text-center color="white" *ngIf="carregando"></ion-spinner>
    </button>
  </ion-item>
</ion-content>