<ion-header>
  <ion-navbar color="header-danger">
    <ion-buttons start>
      <button ion-button icon-only (click)="btnCloseModal()">
        <ion-icon name="ios-arrow-down-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Detalhes do Produto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item no-lines>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <span class="descricao-lanche">{{ produto?.produto_nome }}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="ingredientes-lanche" text-lowercase text-wrap> {{ produto?.ingredientes }}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item-group *ngIf="produto?.incrementos">
    <ion-item-divider color="header-danger">
      Acrescimos
    </ion-item-divider>
    <ion-item *ngFor="let incremento of produto?.incrementos_item">
      {{ incremento.descricao }}
      <br />
      <span class="preco-complemento">{{ incremento.preco | currency :'BRL'}}</span>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="header-danger">
      Preços
    </ion-item-divider>
    <ion-item>
      Preço Unitário: <span class="descricao-lanche">{{ produto?.preco_unitario | currency :'BRL'}}</span>
      <br />
      Preço Total: <span class="descricao-lanche">{{ produto?.preco_total | currency :'BRL'}}</span>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="header-danger">
      Observação
    </ion-item-divider>
    <ion-item tex-center>
      <span *ngIf="produto?.observacao">{{ produto?.observacao }}</span>
      <span *ngIf="!produto?.observacao">Nenhuma observação informada.</span>
    </ion-item>
  </ion-item-group>

</ion-content>
