page-item-detalhes {
  .descricao-lanche {
    font-weight: bold;
    color: #ff0000;
  }

  .ingredientes-lanche {
    font-weight: 300;
    color: #807676;
  }

  .descricao-complemento {
    font-weight: bold;
    color: #000;
  }

  .preco-complemento {
    font-weight: 400;
    font-size: 0.8em;
    color: #ff0000;
  }

  .quantidade {
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  ion-item-group {
    ion-item {
      height: 70px !important;
    }
  }

  .btnQtde {
    font-size: 18px;
  }

  .spanQtde {
    font-size: 2.9rem;
  }
}
