<ion-tabs color="header-danger">
  <ion-tab [root]="tab0Root" tabTitle="Home" tabIcon="ios-home-outline"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="Cardápio" tabIcon="ios-albums-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Pedidos" tabIcon="ios-list-box-outline"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Minha Conta" tabIcon="ios-contact-outline"></ion-tab>
</ion-tabs>