page-endereco {
    .btnClose {
        background-color: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    ion-content {

        ion-item-group {
            ion-item {
                ion-label {
                    .texto {
                        color: #FFF;
                        font-weight: 400;
                    }

                    .endereco {
                        color: #FFC400;
                    }
                }
            }
        }
    }
}
