<ion-header no-border>
  <ion-navbar color="header-danger">
    <ion-buttons start>
      <button ion-button icon-only (click)="btnCloseModal()">
        <ion-icon name="ios-arrow-down-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Entrega
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list radio-group [(ngModel)]="entregaSelected" >
    <ion-list-header color="header-danger">Onde? </ion-list-header>
  
    <ion-item>
      <ion-icon name="ios-locate-outline" item-start></ion-icon>
      <ion-label >
        <span class="texto">Minha localização atual:</span>
        <br/>
        <span class="endereco" text-wrap *ngIf="!carregando">{{ enderecoPeloGps }}</span>
        <ion-spinner name="dots" *ngIf="carregando" text-center></ion-spinner>
      </ion-label>
      <ion-radio value="0" (click)="btnLocalizacaoAtual()"></ion-radio>
    </ion-item>

    <ion-item *ngFor="let entrega of entregas">
      <ion-icon name="ios-pin-outline" item-start></ion-icon>
      <ion-label>
        <span class="texto">{{ entrega.rua }}, {{ entrega.numero }}</span>
        <br/>
        <span class="endereco" text-wrap>{{ entrega.bairro }}</span>
        <br/>
        <span class="endereco">{{ entrega.cidade }}/{{ entrega.estado }}</span>
      </ion-label>
      <ion-radio [value]="entrega" ></ion-radio>
    </ion-item>

    <ion-item text-center>
      <button ion-button block clear color="yellow" (click)="btnBuscaPorCEPClick()">+ Endereço</button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer >
  <ion-toolbar color="header-danger" padding>
    <button ion-button block color="white" 
      style="color: #FF0000; font-weight: bold" 
      (click)="btnContinuarClick()"
      [disabled]="carregando"
      >Continuar</button>
  </ion-toolbar>
</ion-footer>