<ion-header>
  <ion-navbar color="header-danger">
    <ion-title>Minha Conta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list no-lines>
    <div *ngIf="user">
      <button ion-item (click)="btnCarrinhoClick()" *ngIf="carrinho.pedidos.length">
        <ion-icon name="ios-basket-outline" item-start small></ion-icon>
        Sacola
        <ion-icon name="ios-arrow-forward-outline" item-end small></ion-icon>
      </button>
      <button ion-item (click)="btnDadosClick()">
        <ion-icon name="ios-clipboard-outline" item-start small></ion-icon>
        Editar Dados
        <ion-icon name="ios-arrow-forward-outline" item-end small></ion-icon>
      </button>
      <button ion-item (click)="btnNotificacaoClick()">
        <ion-icon name="ios-notifications-outline" item-start small></ion-icon>
        Gerenciar Notificações
        <ion-icon name="ios-arrow-forward-outline" item-end small></ion-icon>
      </button>
      <button ion-item (click)="btnEnderecoClick()">
        <ion-icon name="ios-pin-outline" item-start small></ion-icon>
        Entrega
        <ion-icon name="ios-arrow-forward-outline" item-end small></ion-icon>
      </button>
      <button ion-item (click)="btnSairClick()">
        <ion-icon name="ios-exit-outline" item-start small></ion-icon>
        Sair
        <ion-icon name="ios-arrow-forward-outline" item-end small></ion-icon>
      </button>
    </div>

    <div *ngIf="!user">
      <button ion-item (click)="openModalLogin()">
        <ion-icon name="ios-key-outline" item-start small></ion-icon>
        Logar/Cadastrar
        <ion-icon name="ios-arrow-forward-outline" item-end small></ion-icon>
      </button>
    </div>

  </ion-list>
</ion-content>