<ion-header>
  <ion-navbar color="header-danger">
    <ion-title>BUSCA POR CEP</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="btnCloseModal()">
        <ion-icon name="ios-arrow-down-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>CEP</ion-label>
      <ion-input type="text" [brmasker]="{mask:'00000-000', len:9}" [(ngModel)]="cep" clearInput></ion-input>
    </ion-item>
    <ion-item >
      <button ion-button block color="header-danger" (click)="buscarCEPClick(cep)">
        <span *ngIf="!buscando">
          Buscar
        </span>
        <ion-spinner name="dots" *ngIf="buscando"></ion-spinner>
      </button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="cepEncontrado">
    <ion-list-header color="header-danger">
      Completar endereço
    </ion-list-header>
    <ion-item>
      <ion-label floating>Nº</ion-label>
      <ion-input type="text" [(ngModel)]="endereco.numero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Rua</ion-label>
      <ion-input type="text" [(ngModel)]="endereco.rua" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Bairro</ion-label>
      <ion-input type="text" [(ngModel)]="endereco.bairro" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Cidade</ion-label>
      <ion-input type="text" [(ngModel)]="endereco.cidade" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Estado</ion-label>
      <ion-input type="text" [(ngModel)]="endereco.uf" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Complemento</ion-label>
      <ion-input type="text" [(ngModel)]="endereco.complemento"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button block color="header-danger" (click)="salvarEnderecoClick()" >
        <span>Salvar</span>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
