page-pedidos {
    ion-content {
        background-color: #FFF !important;

        .messa-error {
            color:  #CCC;
            margin-top: 5%;
        }

        
        ion-spinner {
            opacity: 1;
            position: fixed;
            left: 50%;
            right: 50%;
            top: 50%;
        }
    }
}