<ion-header>

  <ion-navbar color="header-danger">
    <ion-title>Pedidos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content text-center>

  <ion-spinner name="dots" *ngIf="showSpinner"></ion-spinner>

  <ion-refresher (ionRefresh)="refreshEvent($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="messa-error" *ngIf="!showSpinner && messageError" text-center>
    <span>Loge-se para ter acesso a essa página!</span>
  </div>

  <ion-list *ngIf="!showSpinner && !messageError">
    <button ion-item *ngFor="let item of pedidos" (click)="btnDetalhesClick(item)">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <span style="font-weight: bold;">Pedido Nº #{{ item.id_pedido }}</span>
            <br />
            <span style="color: #666" *ngIf="item.status_pedido == 'Aguardando'">{{ item.status_pedido }}</span>
            <span style="color: red" *ngIf="item.status_pedido == 'Recusado'">{{ item.status_pedido }}</span>
            <span style="color: rgb(0, 81, 255)" *ngIf="item.status_pedido == 'Preparando'">{{ item.status_pedido }}</span>
            <span style="color: orange" *ngIf="item.status_pedido == 'Enviado'">{{ item.status_pedido }}</span>
            <span style="color: green" *ngIf="item.status_pedido == 'Entregue'">{{ item.status_pedido }}</span>
          </ion-col>
          <ion-col col-6 text-right>
            <span style="font-size: 1.8vh; color: #7f7a7a">{{ item.created_at | date:'dd/MM/yyyy HH:mm a' }}</span>
            <br />
            <span style="color: #FF0000">{{ item.valor_total | currency :'BRL' }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>

</ion-content>
