accordion-categorias {
  .list-md {
    margin: 1px !important;
  }

  ion-list-header {
    margin-bottom: 1px !important;
  }

  section {
    background-color: #f4f4f4 !important;

    p {
      color: #000 !important;
      font-size: 1.5rem !important;
    }
  }

  .nomargin {
    margin: 0 !important;
  }

  .accordion-header {
    color: white;

    .item-inner {
      margin-left: 0 !important;
    }

    ion-icon {
      transition: all .25s ease-in;
      transform: rotate(0);
    }
  }

  .active ion-icon {
    transform: rotate(90deg);
  }

  .accordion-content {
    transition: 0.3s ease-in-out;

    &.active {
      padding: .30rem;
    }
  }

  .label {
    margin: 0px;
  }
}
