<ion-header>
  <ion-navbar color="header-danger">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner name="dots" *ngIf="showSpinner"></ion-spinner>
  <img class="logo" src="assets/imgs/logo-lanche.png" />
  <ion-item-group *ngIf="!showSpinner">
    <ion-item-divider color="light">Destaques</ion-item-divider>
    <div *ngFor="let produto of produtos">
      <ion-item detail-none text-wrap class="produtos" (click)="btnDetalhes(produto)">
        <h2>{{ produto.descricao | uppercase }}</h2>
        <span text-lowercase class="ingredientes"*ngIf="produto.ingredientes">{{ produto.ingredientes }} </span>
        <button ion-button outline item-end color="secondary" class="price" > {{ produto.preco_unitario | currency :'BRL' }} </button>
      </ion-item>
    </div>
  </ion-item-group>
</ion-content>
