page-home {
    ion-spinner {
        opacity: 1;
        position: fixed;
        left: 50%;
        right: 50%;
        top: 50%;
    }
  

    ion-item-divider {
        background-color: #ff0000 !important;
        color: #FFF !important;
        font-weight: bold !important;
    }
    
    ion-item-group {
    ion-item,
        .produtos {
          height: 65px;
    
          h2 {
            color: #ff0000;
            font-weight: bold;
          }
    
          .ingredientes {
            color: #807676;
          }
        }
    }
}
