<ion-header>
  <ion-navbar color="header-danger">
    <ion-buttons start>
      <button ion-button icon-only (click)="btnCloseModal()">
        <ion-icon name="ios-arrow-down-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Dados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="user?.user.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>E-Mail</ion-label>
      <ion-input type="email" [(ngModel)]="user?.user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Celular</ion-label>
      <ion-input type="text" [(ngModel)]="user?.user.phone" [brmasker]="{phone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user?.user.password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Confirma Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user?.user.c_password"></ion-input>
    </ion-item>

    <ion-item>
      <button ion-button block color="header-danger" (click)="saveUpdateUsuario()">
        <span *ngIf="!carregando">Salvar</span>
        <ion-spinner name="dots" text-center color="white" *ngIf="carregando"></ion-spinner>
      </button>
    </ion-item>
  </ion-list>

</ion-content>