<ion-header >
  <ion-navbar color="header-danger">
    <ion-buttons start>
      <button ion-button icon-only (click)="btnCloseModal()">
        <ion-icon name="ios-arrow-down-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div text-center padding>
    <h2>Valor Total {{ valorTotal | currency :'BRL' }}</h2>
    <p>
      Troco pra quanto?
      <br/>
      Digite o valor que vai pagar em dinheiro para que o entregador leve seu troco.
    </p>
  </div>

  
  <ion-item>
    <ion-label fixed>R$</ion-label>
    <ion-input type="number" name="valor" [(ngModel)]="valorPagar"></ion-input> <!-- [brmasker]="{ money: true }" -->
  </ion-item>

  <div paddng text-center class="div-mensagem">
    <span *ngIf="mensagemErro" class="mensagem">{{ mensagemErro }}</span>
  </div>
  <div padding>
    <button ion-button full color="header-danger" (click)="btnConfirmarClick()">Confirmar</button>
  </div>

</ion-content>