<ion-header>
  <ion-navbar color="header-danger">
    <ion-buttons start>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content>
  <ion-item no-lines >
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <span class="descricao-lanche">{{ produto?.descricao }}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="ingredientes-lanche" text-lowercase text-wrap>{{ produto?.ingredientes }}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item-group *ngIf="produto?.incremento">
    <ion-item-divider color="header-danger" (click)="btnShowIncremento()">
      <ion-icon item-start small name="ios-arrow-forward-outline" *ngIf="!showIncremento"></ion-icon>
      <ion-icon item-start small name="ios-arrow-down" *ngIf="showIncremento"></ion-icon>
      Acrescimos
    </ion-item-divider>
    <div *ngIf="showIncremento">
      <ion-item *ngFor="let incremento of incrementos">
        <ion-label>{{ incremento.descricao }} <br/> <span class="preco-complemento">+ {{ incremento.preco | currency :'BRL'}}</span></ion-label>
        <ion-checkbox color="danger" (ionChange)="AddIncremento($event, incremento)" [checked]="incremento.selected"></ion-checkbox>
      </ion-item>
    </div>
  </ion-item-group>

  <ion-list>
    <ion-item>
        <button ion-button color="danger" outline block (click)="btnModalObservacao()" *ngIf="produto?.alteracao">Adicionar observação</button>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row >
          <ion-col col-4 text-center>
            <button ion-button color="danger" outline class="btnQtde" (click)="btnRemoveQtde()"> - </button>
          </ion-col>
          <ion-col col-4 text-center>
            <span class="spanQtde"> {{ produtoPedido?.qtdeProduto }} </span>
          </ion-col>
          <ion-col col-4 text-center>
            <button ion-button color="danger" outline class="btnQtde" (click)="btnAddQtde()"> + </button>            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngIf="produto?.incremento">
      <ion-label>Cortar o lanche no meio?</ion-label>
      <ion-checkbox color="danger" (ionChange)="cortarLanche($event)"></ion-checkbox>
    </ion-item>
    <ion-item >
        <span style="color: #FF0000; font-weight: bold">Total: </span> <span style="font-weight: bold">{{ produtoPedido?.precoTotal * produtoPedido?.qtdeProduto | currency :'BRL' }}</span>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer padding>
  <ion-toolbar color="white">
    <button ion-button block color="header-danger" (click)="AddCarrinho()">Adicionar </button>
  </ion-toolbar>
</ion-footer>