<ion-header>

  <ion-navbar color="header-danger">
      <ion-buttons start>
        <button ion-button icon-only (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Observação</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-textarea placeholder="Ex: Tirar a cebola, salada, etc." maxlength="100" [(ngModel)]="observacao"></ion-textarea>
  </ion-card>
</ion-content>

<ion-footer padding>
    <ion-toolbar color="white">
      <button ion-button block color="header-danger" (click)="btnSalvar()" [disabled]="!observacao"> Salvar </button>
    </ion-toolbar>
  </ion-footer>