page-pedidos-detalhes {
    .price {
        font-weight: bold;
        font-size: 0.9em;
        color: #ff0000;
    }
    .descricao {
        font-weight: bold;
        color: #ff0000;
    }

    .status-aguardando {
        color: #FF8C00
    }
    .status-recusado {
        color: #FF0000
    }
    .status-entregue {
        color: #32db64
    }
    .status-andamento {
        color: #488aff
    }
}