<ion-header>

  <ion-navbar color="header-danger">
    <ion-title>Pedido Nº # {{ pedido?.id_pedido }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list no-lines>
    <button ion-item>
      <span>Data: </span> {{ pedido?.created_at | date:'dd/MM/yyyy HH:mm a' }}
    </button>
    <button ion-item text-wrap>
      <span>Status:
        <span style="color: #666" *ngIf="pedido?.status_pedido == 'Aguardando'">{{ pedido?.status_pedido }}</span>
        <span style="color: red" *ngIf="pedido?.status_pedido == 'Recusado'">{{ pedido?.status_pedido }}</span>
        <span style="color: rgb(0, 81, 255)" *ngIf="pedido?.status_pedido == 'Preparando'">{{ pedido?.status_pedido }}</span>
        <span style="color: orange" *ngIf="pedido?.status_pedido == 'Enviado'">{{ pedido?.status_pedido }}</span>
        <span style="color: green" *ngIf="pedido?.status_pedido == 'Entregue'">{{ pedido?.status_pedido }}</span>
      </span>
    </button>
    <button ion-item text-wrap>
      <span>Endereço: </span> {{ pedido?.endereco }}
    </button>
    <button ion-item text-wrap>
      <span>Tipo de Pagamento: </span>
      <span *ngIf="pedido?.tipo_pagamento == 'cartao'" class="descricao"> Cartão</span>
      <span *ngIf="pedido?.tipo_pagamento == 'dinheiro'" class="descricao"> Dinheiro</span>
      <br />
      <span>Valor Total: </span>
      <span *ngIf="pedido?.valor_total" class="descricao"> {{ pedido?.valor_total | currency :'BRL' }}</span>
      <br />
      <span>Dinheiro: </span>
      <span *ngIf="pedido?.tipo_pagamento == 'dinheiro'" class="descricao"> {{ pedido?.valor_receber_dinheiro | currency :'BRL' }}</span>
      <span *ngIf="pedido?.tipo_pagamento == 'cartao'" class="descricao"> {{ 0 | currency :'BRL' }}</span>
      <br />
      <span>Troco: </span>
      <span *ngIf="pedido?.tipo_pagamento == 'dinheiro'" class="descricao"> {{ pedido?.valor_troco_dinheiro | currency :'BRL' }}</span>
      <span *ngIf="pedido?.tipo_pagamento == 'cartao'" class="descricao"> {{ 0 | currency :'BRL' }}</span>
    </button>
  </ion-list>
  <ion-item-group>
    <ion-item-divider color="header-danger">Itens</ion-item-divider>
    <button ion-item detail-none text-wrap *ngFor="let item of pedido?.pedido_itens" (click)="itemDetalhes(item)">
      <h2>{{ item.produto_nome }} - {{item.qtde}}x</h2>
      <span class="price"> {{ item.preco_total | currency :'BRL' }} </span>
    </button>
    <ion-item style="color: #666" text-wrap> *Os preços dos produtos podem sofrer alterações após determinado tempo. </ion-item>
  </ion-item-group>
</ion-content>
