page-cardapio {
  ion-content {
    margin-top: 0.5rem;

    ion-spinner {
      opacity: 1;
      position: fixed;
      left: 50%;
      right: 50%;
      top: 50%;
    }

    .price {
      font-weight: bold;
      font-size: 0.9em;
      color: #ff0000;
    }
  
    ion-list {
  
      ion-item,
      .produtos {
        height: auto;
  
        h2 {
          color: #000;
          font-weight: 400;
        }
  
        .ingredientes {
          color: #807676;
        }
      }
    }
  }
}