<ion-header>
  <ion-navbar color="header-danger">
    <ion-title>Cardápio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <ion-spinner name="dots" *ngIf="showSpinner"></ion-spinner>
  <div *ngIf="!showSpinner">
    <div *ngFor="let item of items; let index = index">
        <accordion-categorias 
        *ngIf="item.produtos.length"
        [title]="item.descricao | uppercase"
        textColor="#FFF"
        hasMargin="false"
        headerColor="#FF0000"
        [expanded]="index === 0">
        <ion-list no-padding>
          <div *ngFor="let produto of item.produtos">
            <ion-item detail-none text-wrap class="produtos" (click)="btnDetalhes(produto)">
              <h2>{{ produto.descricao | uppercase }}</h2>
              <span text-lowercase class="ingredientes" *ngIf=" produto.ingredientes">{{ produto.ingredientes }} </span>
              <br />
              <span class="price"> {{ produto.preco_unitario | currency :'BRL' }} </span>
            </ion-item>
          </div>
        </ion-list>
      </accordion-categorias>
    </div>
  </div>

</ion-content>
